@page "{handler?}"
@model TaskManager.Pages.AssignModel
@{
        ViewData["Title"] = "Assign Task";
}

<div class="alert alert-sucess display-5">
    Assign a New Task
</div>
<div class="container pb-5">

    <form method="post">
        <div class="row p-3 border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-8 pt-4">
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="@Model.TaskVM.AssignedProjectId">Project</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select" asp-for="@Model.TaskVM.AssignedProjectId" aria-label="@Model.TaskVM.AssignedProjectId" id="project-list">
                        </select>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="@Model.TaskVM.Description"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.TaskVM.Description" type="text" class="form-control" />
                        <span asp-validation-for="@Model.TaskVM.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="@Model.TaskVM.StartDate">Start Date of Task [dd-mm-yyyy]</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.TaskVM.StartDate" type="text" class="form-control" placeholder="01-01-2022"/>
                        <span asp-validation-for="@Model.TaskVM.StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="@Model.TaskVM.DueDate">Due Date of Task [dd-mm-yyyy]</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="@Model.TaskVM.DueDate" type="text" class="form-control" placeholder="01-01-2023"/>
                        <span asp-validation-for="@Model.TaskVM.DueDate" class="text-danger"></span>
                    </div>
                </div>
                 <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="@Model.TaskVM.AssignedEmployeeIds">Who Should do this?</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select" asp-for="@Model.TaskVM.AssignedEmployeeIds" aria-label="@Model.TaskVM.AssignedEmployeeIds" id="employee-list" multiple>
                           
                        </select>
                        <span asp-validation-for="@Model.TaskVM.AssignedEmployeeIds" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <div class="col-8 offset-4">
                       <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary form-control mb-1">Add a Task</button>
                            </div>
                            <div class="col">
                                <a asp-page="/Index" class="btn btn-secondary form-control mb-1">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $.get('/assign/projects').done(function (p) {
                $.each(p, function (i, p) {
                    var item = `<option value="${p.id}">${p.projectName}</option>`;
                    $('#project-list').append(item);
                });
                getEmployeesById(p[0].id);
            });
        });

        $('#project-list').change(function(){
            var selectedItem =$('#project-list').children("option:selected").val();
            $('#employee-list').empty();
            getEmployeesById(selectedItem);
        });

        function getEmployeesById(id){
             $.ajax({
                type: "GET",
                cache : false,
                url: `/assign/employees?projectId=${id}`,
                success: function (emp) {
                    $.each(emp, function (i, emp) {
                        var item = `<option value="${emp.mid}">${emp.firstName} ${emp.lastName} (m${emp.mid})</option>`;
                        $('#employee-list').append(item);
                    });
                },
                error: function (data) {
                    var item = `<option disabled>Failed to retrieve employees</option>`;
                        $('#employee-list').append(item);
                }
             });
        }

        
    </script>
     <partial name="_ValidationScriptsPartial" />
}
